{% extends 'wenku/base_bs.html' %}

{% block body_block %}
    {% if article_list %}
        <table  cellpadding="5" border = 2 align="center">
            <tr>
                <th>书名</th>
                <th>作者</th>
                <th>文库</th>
                <th>更新</th>
                <th>完结</th>
                <th>文库链接</th>
                <th>下载链接</th>
            </tr>

            {% for article in article_list %}
            <tr>
                <td>{{ article.name }}</td>
                <td>{{ article.author }}</td>
                <td>{{ article.publisher }}</td>
                <td>{{ article.last_update }}</td>
                <td>{{ article.finished }}</td>
                <td> <a href=https://www.wenku8.net/book/{{article.num}}.htm>
                原文 <a></td>
                <td><a href=http://dl.wenku8.com/down.php?type=txt&id={{article.num}}&fname={{ article.name }} >下载 <a></td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
    <p>  未找到该书，请确认关键词是否有误 </p>
    {% endif %}
{% endblock %}


